<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bubble_Autocomplete>
            <version>1.0.0</version>
        </Bubble_Autocomplete>
    </modules>
    <global>
        <blocks>
            <bubble_autocomplete>
                <class>Bubble_Autocomplete_Block</class>
            </bubble_autocomplete>
        </blocks>
        <helpers>
            <bubble_autocomplete>
                <class>Bubble_Autocomplete_Helper</class>
            </bubble_autocomplete>
        </helpers>
        <models>
            <bubble_autocomplete>
                <class>Bubble_Autocomplete_Model</class>
            </bubble_autocomplete>
        </models>
        <events>
            <bubble_autocomplete_product_collection_init>
                <observers>
                    <bubble_autocomplete>
                        <class>bubble_autocomplete/observer</class>
                        <method>onProductCollectionInit</method>
                    </bubble_autocomplete>
                </observers>
            </bubble_autocomplete_product_collection_init>
        </events>
    </global>
    <frontend>
        <routers>
            <bubble_autocomplete>
                <use>standard</use>
                <args>
                    <module>Bubble_Autocomplete</module>
                    <frontName>autocomplete</frontName>
                </args>
            </bubble_autocomplete>
        </routers>
        <layout>
            <updates>
                <bubble_autocomplete>
                    <file>bubble/autocomplete.xml</file>
                </bubble_autocomplete>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_Autocomplete>
                    <files>
                        <default>Bubble_Autocomplete.csv</default>
                    </files>
                </Bubble_Autocomplete>
            </modules>
        </translate>
    </frontend>
    <default>
        <bubble_autocomplete>
            <general>
                <enable>1</enable>
                <limit>5</limit>
                <min_length>1</min_length>
                <cache_lifetime>86400</cache_lifetime>
                <use_local_storage>1</use_local_storage>
                <enable_jquery>1</enable_jquery>
            </general>
        </bubble_autocomplete>
    </default>
</config>